@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');
.suspeitos {
    font-family: "kanit";
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    width: 800PX;
    height: 100px;
    align-items: center;
    background-color:#7f00ff;
    border-radius: 0 50px 50px 0;
}
.dados {  
    margin-right: 8px;
    color:#7f00ff;
    font-size: 24px;
    width: 90PX;
    height: 90px;
    background-color: aliceblue;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}